<ion-header>
  <ion-toolbar>
    <ion-title>{{student.nome}} {{student.cognome}}</ion-title>
    <ion-buttons slot="primary">
        <ion-button (click) = "onClose()">
          <ion-icon name="close-outline"></ion-icon>
        </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      {{student.nome}} {{student.cognome}}
    </ion-card-header>
    <ion-card-content>
      <p>{{student.matricola}}</p>
      <p>{{student.cds}}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
