<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form onsubmit="processForm(event)">
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col size="11">
          <ion-list lines="full" class="ion-no-margin ion-no-padding">
            <ion-item>
              <ion-label position="floating">First Name <ion-text color="danger">*</ion-text>
              </ion-label>
              <ion-input required type="text"></ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col size="1">
          <ion-icon name="paper-plane-outline"></ion-icon>
        </ion-col>
        <!-- <ion-col size-sm="9">

          <ion-list lines="full" class="ion-no-margin ion-no-padding">
            <ion-item>
              <ion-label position="floating">Last Name <ion-text color="danger">*</ion-text>
              </ion-label>
              <ion-input required type="text"></ion-input>
            </ion-item>
          </ion-list>
        </ion-col> -->
      </ion-row>
      <ion-row>
        <ion-col>
          <p>1</p>
        </ion-col>
        <ion-col>
          <p>2</p>
        </ion-col>
        <ion-col>
          <p>3</p>
        </ion-col>
        <ion-col>
          <p>4</p>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div class="ion-padding">
      <ion-button expand="block" type="submit" class="ion-no-margin">Create account</ion-button>
    </div>
  </form>



</ion-content>