<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Elenco Studenti</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click) = "onAddStudent()">
        <ion-icon name="add" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-header>
  <ion-toolbar>
    <ion-segment [(ngModel)]="sezione" (ionChange)="onViewChange($event)">
      <ion-segment-button value="tutti">Tutti</ion-segment-button>
      <ion-segment-button value="informatica">Informatica</ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Esempio in cui visulizziamo la sezione in base alla direttiva *ngIf -->
  <!-- <ion-grid *ngIf="sezione !== 'informatica'"> -->
  <ion-grid>
    <ion-row>
      <ion-col size-md="8" offset-md="2">
        <div>
          <ion-list>
            <ion-item-sliding #item *ngFor="let studente of studenti">
              <ion-item detail>
                <ion-grid>
                  <ion-row>
                    <ion-col>
                      <ion-label>
                        <p>{{ studente.matricola }}</p>
                      </ion-label>

                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <ion-label color="primary">
                        <p>{{ studente.cognome }} {{ studente.nome }}</p>
                      </ion-label>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <ion-label>
                        <p>{{ studente.cds }}</p>
                      </ion-label>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>

              <ion-item-options>
                <ion-item-option (click)="show(studente, item)">Mostra</ion-item-option>
                <ion-item-option color="danger" (click)="delete(studente, item)">
                  Elimina
                </ion-item-option>
              </ion-item-options>

            </ion-item-sliding>
          </ion-list>
          <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
            <ion-infinite-scroll-content loadingSpinner="lines-small" loadingText="Carico altri studenti...">
            </ion-infinite-scroll-content>
          </ion-infinite-scroll>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>