<ion-header>
  <ion-toolbar>
    <ion-title>sito</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-title>Ciao Sito</ion-title>
<ion-label>Questo è un testo di prova!</ion-label>
</ion-content>
