<ion-header>
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- 
<ion-button expand="block" (click)="onCambia()">Cambia Nome</ion-button>
<ion-text>Il valore di nome è: {{nome}}</ion-text> -->
  <!-- 
<form *ngIf="mostra" >
  <ion-label>Login: </ion-label>
  <ion-input type="text" #nomeElement (ionChange)="onChange(nomeElement)" ></ion-input>
  <ion-label>Password: </ion-label> 
  <ion-input type="password"></ion-input>
  <ion-button (click) = "onLogin()">Login</ion-button>
</form>

<form >
  <div class="ion-text-center" *ngIf="!mostra">
    <ion-label>Cognome: </ion-label><br />
    <ion-input (ionChange)="onChange()" type="text" [(ngModel)]="cognome" name="cognome2"></ion-input>
    <ion-input type="text" name="nome2" [value]="1+1" ></ion-input>
    <ion-input type="text" name="nome3" value="cognome" ></ion-input>
    <ion-button (click) = "onLogin()">Salva</ion-button>
  </div>
</form>

<ol>
  <li>Pippo</li>
  <li>Pluto</li>
  <li>Paperino</li>
</ol>

<ul>
  <li>Qui</li>
  <li>Quo</li>
  <li>Qua</li>
</ul>
 -->

  <!-- <div *ngIf="!elementi || elementi.length === 0">
    <ion-title>Nessun elelemento</ion-title>
 </div> -->

  <!-- <div [hidden]="this.showMe()">
    <ion-title>Caricamento in corso ...</ion-title>
  </div> -->

  <div *ngIf="!this.showMe()">
    <ion-title>Caricamento in corso ...</ion-title>
  </div>

  <ion-list *ngIf="this.showMe()">
    <ion-item *ngFor="let elemento of this.elementi">
      <ion-label>{{elemento}}</ion-label>
    </ion-item>
  </ion-list>

  <ion-button expand="block" (click)="vai('/login')">Full Button</ion-button>


</ion-content>